# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here
li =  [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []

for i in li:
    unique.append(i[0])
unique = set(unique)

result = []
for i in unique:
    result.append([i])
    for j in li:
        if j[0] == i:
            result[-1].append(j[1])

print(list(map(tuple, result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
tup = (1,5,7,8,10)

li = []

li.append(tup[0] * tup[1])

for i in range(1, len(tup) -1):
    sum = ((tup[i] * tup[i-1]) + (tup[i] * tup[i+1]))
    li.append(sum)

li.append(tup[-1] * tup[-2])

print(li)

[5, 40, 91, 136, 80]

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here
t1 = (1,2,3,0)
t2 = (9,2,3,0)

#t1 and t2 are not same

flag = True
for i,k in list(zip(t1,t2)):
    if i == k:
        continue
    else:
        flag = False

if flag:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

#list, set,tuple
out= [0,0,0]

for i in list1:
    if type(i) == list:
        out[0] += 1
    elif type(i) == set:
        out[1] += 1
    elif type(i) == tuple:
        out[2] += 1
    else:
        continue

print("List-{}\nSet-{}\nTuples-{}".format(out[0], out[1], out[2]))

List-2
Set-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here
# Input number of student records
num_records = int(input("Enter number of records: "))

# Initialize list to store student records
student_records = []

# Collect student records
for i in range(num_records):
    print(f"Enter details of student-{i+1}")
    name = input("Enter Student name: ")
    education = input("Enter Higher Education: ")
    primary_skill = input("Enter Primary Skill: ")
    year_of_graduation = input("Enter Year of Graduation: ")

    student_records.append((name, education, primary_skill, year_of_graduation))

# Input job requirements
print("Enter Job Role Requirement")
required_skill = input("Enter Skill: ")
required_education = input("Enter Higher Education: ")
required_graduation_year = input("Enter Year of Graduation: ")

# Shortlist candidates based on job requirements
shortlisted_candidates = [
    student for student in student_records
    if student[2] == required_skill and student[1] == required_education and student[3] == required_graduation_year
]

# Output shortlisted candidates
if shortlisted_candidates:
    for candidate in shortlisted_candidates:
        print(candidate)
else:
    print("No such candidate")

Enter number of records: 2
Enter details of student-1
Enter Student name: Manohar
Enter Higher Education: B.Tech
Enter Primary Skill: Python
Enter Year of Graduation: 2022
Enter details of student-2
Enter Student name: Ponian
Enter Higher Education: B.Sc.
Enter Primary Skill: C++
Enter Year of Graduation: 2020
Enter Job Role Requirement
Enter Skill: Python
Enter Higher Education: B.Tech
Enter Year of Graduation: 2022
('Manohar', 'B.Tech', 'Python', '2022')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

#Output : [80, 20]

arr1 = set(ar1)
arr2 = set(ar2)
arr3 = set(ar3)

final = ((arr1 & arr2) & arr3)

print(list(final))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
Str1 = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")
vowels = set('aeiouAEIOU')

print("No of unique vowels -",(len(Str1 & vowels)))

No of unique vowels - 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here
str = set(input("Enter a str : "))

if len(str) == 2:
    print("Yes")
else:
    print("No")

Enter a str : Campusx
No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
matrix = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s1 = set()

for i in matrix:
    s1.update(set(i))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here

lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

[i for i in lst1 if i in lst2]

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [1]:
# write your code here
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_val = 0
max_var = ''
for i in test_dict:
    if len(set(test_dict[i])) > max_val:
        max_val = len(set(test_dict[i]))
        max_var = i

print(max_var)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [2]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : " is the best channel ", "DS" : " Data-Science "}

new = []
for i in test_str.split():
    if i in repl_dict:
        new.append(repl_dict[i])
    else:
        new.append(i)

print(''.join(new))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [4]:
# write your code here

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
key_length = len(key_list)

result = []

for i in range(0, len(test_list), key_length):
    chunk = test_list[i:i + key_length]
    result.append(dict(zip(key_list, chunk)))

print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [5]:
# write your code here
a = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

d = {}

for i,j in a:
    d[i] = [j]

print(d)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [6]:
# write your code here

d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

res = {}

for i in sorted(d):
    res[i] = sorted(d[i])

print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}