### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Input CTC (in Lakhs)
ctc_lakhs = float(input("Enter your CTC in lakhs: "))

ctc = ctc_lakhs * 100000

hra = 0.10 * ctc
da = 0.05 * ctc
pf = 0.03 * ctc
total_deductions = hra + da + pf

taxable_income = ctc - total_deductions
if ctc < 500000:
    tax_rate = 0
elif ctc < 1000000:
    tax_rate = 0.10
elif ctc < 2000000:
    tax_rate = 0.20
else:
    tax_rate = 0.30

annual_tax = taxable_income * tax_rate
in_hand_annual_salary = taxable_income - annual_tax
in_hand_monthly_salary = in_hand_annual_salary / 12

print(f"In-hand Annual Salary: {in_hand_annual_salary:.2f} rupees")
print(f"In-hand Monthly Salary: {in_hand_monthly_salary:.2f} rupees")

Enter your CTC in lakhs: 5
In-hand Annual Salary: 369000.00 rupees
In-hand Monthly Salary: 30750.00 rupees

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
angle1 = int(input("Enter 1st angle:"))
angle2 = int(input("Enter 2nd angle:"))
angle3 = int(input("Enter 3rd angle:"))

if angle1 + angle2 + angle3 == 180:
  print("Can form a Triangle")
else:
  print("Cannot form a Triangle")

Enter 1st angle:60
Enter 2nd angle:60
Enter 3rd angle:60
Can form a Triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost_price = float(input("Enter cost price:"))
selling_price = float(input("Enter selling price:"))

if selling_price > cost_price:
  print("Profit")
elif selling_price < cost_price:
  print("Loss")

Enter cost price:50
Enter selling price:60
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
while True:
    print("\nMenu:")
    print("1. Convert cm to ft")
    print("2. Convert km to miles")
    print("3. Convert USD to INR")
    print("4. Exit")

    choice = input("Enter your choice (1-4): ")

    if choice == '1':
        cm = float(input("Enter length in centimeters: "))
        ft = cm / 30.48
        print(f"{cm} cm is equal to {ft:.2f} feet.")

    elif choice == '2':
        km = float(input("Enter distance in kilometers: "))
        miles = km * 0.621371
        print(f"{km} km is equal to {miles:.2f} miles.")

    elif choice == '3':
        usd = float(input("Enter amount in USD: "))
        conversion_rate = 83.64
        inr = usd * conversion_rate
        print(f"{usd} USD is equal to {inr:.2f} INR.")

    elif choice == '4':
        print("Exiting the program.")
        break

    else:
        print("Invalid choice. Please enter a number between 1 and 4.")

Menu:
1. Convert cm to ft
2. Convert km to miles
3. Convert USD to INR
4. Exit
Enter your choice (1-4): 3
Enter amount in USD: 50
50.0 USD is equal to 4182.00 INR.

Menu:
1. Convert cm to ft
2. Convert km to miles
3. Convert USD to INR
4. Exit
Enter your choice (1-4): 4
Exiting the program.

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
num_terms = 10

n1, n2 = 0, 1
count = 0
print("Fibonacci sequence up to", num_terms, "terms:")

while count < num_terms:
    print(n1, end=" ")
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

Fibonacci sequence up to 10 terms:
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
num = int(input("Enter the number to find its factorial"))
mul = 1
for i in range(num,0,-1):
  mul *= i
print(mul)

Enter the number to find its factorial12
479001600

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
num = int(input("Enter a number: "))
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
print("Reversed number:", rev)

Enter a number: 76542
Reversed number: 24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
num = int(input("Enter an integer : "))

sum_result = 0
current_number = 1

while current_number <= num and sum_result <= 300:
    if current_number % 5 != 0:
        sum_result += current_number
    current_number += 1

print(f"The final sum is: {sum_result}")

Enter an integer : 30
The final sum is: 303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
sum_numbers = 0
count = 0

while True:
    number = float(input("Enter a number (enter 0 to stop): "))
    if number == 0:
        break
    sum_numbers += number
    count += 1

if count > 0:
    average = sum_numbers / count
else:
    average = 0

print(f"\nSum of all numbers: {sum_numbers}")
print(f"Average of all numbers: {average}")

Enter a number (enter 0 to stop): 5
Enter a number (enter 0 to stop): 5
Enter a number (enter 0 to stop): 0

Sum of all numbers: 10.0
Average of all numbers: 5.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
first_number_printed = False
for num in range(2000, 3201):
    if num % 7 == 0 and num % 5 != 0:
        if first_number_printed:
            print(",", end="")
        print(num, end="")
        first_number_printed = True

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for num in range(1000, 3001):
    str_num = str(num)
    is_even_digits = True
    for digit in str_num:
        int_digit = int(digit)
        if int_digit % 2 != 0:
            is_even_digits = False
            break
    if is_even_digits:
        print(num, end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [3]:
import math

x, y = 0, 0

while True:
    movement = input()
    if movement == "!":
        break
    direction, steps = movement.split()
    steps = int(steps)

    if direction == "UP":
        y += steps
    elif direction == "DOWN":
        y -= steps
    elif direction == "LEFT":
        x -= steps
    elif direction == "RIGHT":
        x += steps

distance = math.sqrt(x**2 + y**2)
print(round(distance))

UP 5
DOWN 3
LEFT 3
RIGHT 2
!
2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [12]:
number = int(input("Enter a number: "))

if number < 2:
    print("Not a prime number")
else:
    is_prime = True
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        print("Prime number")
    else:
        print("Not a prime number")

Enter a number: 7
Prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [15]:
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

def is_armstrong(number):
    digits = [int(d) for d in str(number)]
    return sum(d ** 3 for d in digits) == number

print(f"Armstrong numbers between {start} and {end}:")
for num in range(start, end + 1):
    if is_armstrong(num):
        print(num)

Enter the start of the range: 0
Enter the end of the range: 500
Armstrong numbers between 0 and 500:
0
1
153
370
371
407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [17]:
# Write code here
H = int(input("Enter hours: "))
M = int(input("Enter minutes: "))
H = H % 12
minute_angle = M * 6
hour_angle = (H * 30) + (M * 0.5)
angle = abs(hour_angle - minute_angle)

min_angle = min(angle, 360 - angle)
print(int(min_angle))

Enter hours: 9
Enter minutes: 0
90

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [18]:
# Write code here
# Input coordinates for the first rectangle
L1_x = int(input("Enter the x-coordinate of the left top corner of the first rectangle (L1_x): "))
L1_y = int(input("Enter the y-coordinate of the left top corner of the first rectangle (L1_y): "))
R1_x = int(input("Enter the x-coordinate of the right bottom corner of the first rectangle (R1_x): "))
R1_y = int(input("Enter the y-coordinate of the right bottom corner of the first rectangle (R1_y): "))

# Input coordinates for the second rectangle
L2_x = int(input("Enter the x-coordinate of the left top corner of the second rectangle (L2_x): "))
L2_y = int(input("Enter the y-coordinate of the left top corner of the second rectangle (L2_y): "))
R2_x = int(input("Enter the x-coordinate of the right bottom corner of the second rectangle (R2_x): "))
R2_y = int(input("Enter the y-coordinate of the right bottom corner of the second rectangle (R2_y): "))

# Check if one rectangle is to the left of the other
if L1_x > R2_x or L2_x > R1_x:
    print("Rectangles do not overlap")
# Check if one rectangle is above the other
elif L1_y < R2_y or L2_y < R1_y:
    print("Rectangles do not overlap")
else:
    print("Rectangles overlap")

Enter the x-coordinate of the left top corner of the first rectangle (L1_x): 0
Enter the y-coordinate of the left top corner of the first rectangle (L1_y): 10
Enter the x-coordinate of the right bottom corner of the first rectangle (R1_x): 10
Enter the y-coordinate of the right bottom corner of the first rectangle (R1_y): 0
Enter the x-coordinate of the left top corner of the second rectangle (L2_x): 5
Enter the y-coordinate of the left top corner of the second rectangle (L2_y): 5
Enter the x-coordinate of the right bottom corner of the second rectangle (R2_x): 15
Enter the y-coordinate of the right bottom corner of the second rectangle (R2_y): -5
Rectangles overlap